autopep8==1.4.4
cycler==0.10.0
fire==0.3.1
kiwisolver==1.1.0
matplotlib==3.2.2
numpy==1.17.4
pandas==0.25.3
pycodestyle==2.5.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
rope==0.14.0
six==1.13.0
termcolor==1.1.0
