attrs==21.4.0
autopep8==1.6.0
beniget==0.4.1
cycler==0.11.0
Cython==0.29.26
fire==0.4.0
fonttools==4.28.5
future==0.18.2
gast==0.5.3
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.0
packaging==21.3
pandas==1.3.5
Pillow==9.0.0
ply==3.11
pybind11==2.9.0
pycodestyle==2.8.0
pyparsing==2.4.5
python-dateutil==2.8.1
pythran==0.11.0
pytz==2019.3
PyYAML==6.0
rope==0.22.0
scipy==1.7.3
six==1.13.0
termcolor==1.1.0
toml==0.10.2
tqdm==4.62.3
